@import url('https://fonts.googleapis.com/css?family=Nunito:700|Roboto+Condensed:300,400|PT+Sans:300,400')

$background-color: #004B47
$tile-background-color: rgba(#EAEAEA, .17)
$lighter-background-color: rgba(#FFF, .9)
$darker-background-color: rgba(#000, .14)

html, body
  background:  $background-color
  font:
    family: 'PT Sans', sans-serif
    size: 16px
    weight: 100

hr
  height: 2px
  width: 100%
  border: none
  background: $tile-background-color

input[type='text']
  background: $tile-background-color
  color: #eee
  &::placeholder
    color: #888
.index-container
  width: 100vw
.list-container
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  table
    background: $tile-background-color

    tr
      background: $tile-background-color
      a
        color: #eee


.song-table
  background: $tile-background-color
  tbody tr
    background: $tile-background-color
    //border: 1px solid #222 !important
    td
      vertical-align: middle !important
      a
        color: #eee !important
.navbar
  margin-bottom: 1rem
  background: #222
  *
    color: #fff

h1
  text-align: center

.title, .subtitle
  font-family: 'Nunito', sans-serif
  color: #eee !important


.dropzone
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(white, .7)
  border: 4px dashed rgba(black, .4)
  border-radius: 1rem
  box-shadow: inset 0 0 20px rgba(black, .4)
  justify-content: center
  align-items: center
  font-size: 3rem
  z-index: 99999999
  display: none

.current-song
  margin: 0px !important

.main-container
  padding: 0 .4rem

.tile

  &.is-parent
    padding: .4rem
  &.is-child
    background: $tile-background-color
    padding: 1rem
    //background: #eee
    //border: 1px solid #bbb
    //box-shadow: 0 6px 0 rgba(black, .3)

.tile.is-vertical>.tile.is-child:not(:last-child)
  margin-bottom: .8rem !important

.textarea
  resize: none
  color: #111
  background: $lighter-background-color
  border: none
  border-radius: 0
  box-shadow: none
  font-family: 'PT Sans', sans-serif

.track-list

  .track-container
    //border: 1px solid black
    margin: 2px 0
    padding: 4px 4px 4px 8px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 40px
    color: #fff
    background: $tile-background-color

    .track-title
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      align-self: center

    .audio-container
      display: flex
      justify-content: center
      align-items: center
      align-self: flex-end


.note-wrapper
  .tabs
    color: #eee
    margin: 0
    ul li
      &:not(:first-child)
        margin-left: 1px
      &.is-active a
        background: $lighter-background-color
        color: #444
        font-weight: bold
        border-top: 2px solid transparent
        //box-sizing: border-box
      a
        border: none
        background: $darker-background-color
        border-radius: 0 !important

.notification a:not(.button)
  text-decoration: none

.add-note
  margin: 0
  padding: 0 0 0 4px
  //width: 40px
  //border: 1px solid #ddd
  //border-top-right-radius: 6px
  //border-bottom-right-radius: 6px

  button
    padding: 0
    width: 28px
    height: 28px
    box-sizing: border-box
    background: darken($tile-background-color, 35%)
    border: none
    border-radius: 0 !important
    color: #eee
    font-size: .7rem !important
    font-weight: bold
    &:hover
      background: rgba(#fefefe, .4)

  input
    display: none

#new-note-msg
  .modal-content
    padding: 1rem 2rem
    background: white
    width: 14rem
    border-radius: 3px
    text-align: center

.instrument-wrapper
  //display: flex
  //flex-direction: row
  .subtitle
    margin: 0 !important
.instrument-container

  .instrument-list
    list-style: none
    margin: 0 0 0 2rem !important
    li
      display: inline-block
      margin: .3rem .3rem
      padding: 4px 6px
      background: #73CCF8
      border-radius: 6px
      //box-shadow: 0 1px 2px rgba(black, .6)
      color: white
      font:
        size: .8rem
        weight: 800
      cursor: pointer
      box-sizing: border-box
      &:hover
        background: lighten(#73CCF8, 3%)
      &.has-note
        &:after
          margin-left: 4px
          filter: drop-shadow(0 0 1px darken(#73CCF8, 50%))
          background:
            image: url('../img/has_note_bubble.png')
            size: 16px 16px
            repeat: no-repeat
          display: inline-block
          width: 16px
          height: 13px
          content: ''
      &.inst-done
        background: #fff
        color: #555
        position: relative
        //box-shadow: inset 0 0 10px #18F158
        &:before
          position: absolute
          z-index: 5
          opacity: .8
          top: -10px
          right: -14px
          content: url('../img/check_circle.png')
          filter: drop-shadow(0 0 3px rgba(black, .5))
      &.inst-disabled
        color: #F3F4F5
        background: #D0D5D7
        box-shadow: inset 0 0 0px rgba(black, .4)


.image-container
  line-height: 0

  -webkit-column-count: 5
  -webkit-column-gap:   0px
  -moz-column-count:    5
  -moz-column-gap:      0px
  column-count:         5
  column-gap:           0px
  .image

    img
      width: 100% !important
      height: auto !important